{% extends "AppDesafio/padre.html" %}
{% load static %}

{% block avatar%}
{% if not request.user.is_authenticated %}
<div><img src="/media/avatar/anonymous-user-icon-2.jpg" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
    <h2>Anonimo</h2>
</div>
{% else %}
<div><img src="{{url}}" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
<h2>{{user}}</h2>
</div>
{% endif %}

{% endblock %}

{% block TituloInicio %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"></div>
        <div class="masthead-heading text-uppercase" style="margin-right: 1000px">Mensajeria</div>
    </div>
</header>
{% endblock %}

{% block contenidoQueCambia %}
<div style="color:white">
<h2>Mensajes enviados:</h2>
    <div style="font-style:italic; font-size:15px">
   
    
        {% for m in mensajes %}
        <p style="border: ridge #fff 2px;">
        De: {{m.remitente_usuario}}
        <br>
        Para: 
        {{m.destinatario_usuario}}
        <br>
        Mensaje:
        {{m.mensaje}}
        <br>
        </p>
        {% endfor %} 
        </p>
    </div>

</div>

<h1 style="color:white">Lista de usuarios</h1>
<div style="color:white">
    {% for u in usuarios %}

            <td>
                {{u.username}} {{u.id}} ,
            </td>
        
    {% endfor %} 
</div>    
<div>  
{% endblock %}