{% extends "AppDesafio/padre.html" %}
{% load static %}
{% block avatar%}
<div><img src="{{url}}" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
<h2>{{user}}</h2>
</div>
{% endblock %}
{% block TituloInicio %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"></div>
        <div class="masthead-heading text-uppercase"style="margin-right: 1000px">MI PERFIL</div>
    </div>
</header>
{% endblock %}

{% block contenidoQueCambia %}
<div>
    <div style="float:right; color:white">
        <h1>Mi avatar</h1>
        <div><img src="{{url}}" width="80px" height="80px" style="border-radius:30px" alt=""></div>
        <br>
        <li class="nav-item"><a class="btn btn-primary" href="{% url 'agregarAvatar' %}">EDITAR</a></li>
    </div>
<div>
<div class="form-group">
<form action="{% url 'editarPerfil' %}" method="POST" style="color:white">
{% csrf_token %}
<table>
    {{formulario.as_table}}
</table>
</div>
<br>
<button style="margin-left:85px" class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Guardar</button>

</form>
</div>
</div>
{% endblock %}