{% extends "AppDesafio/padre.html" %}
{% load static %}
{% block avatar%}
<div><img src="{{url}}" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
<h2>{{user}}</h2>
</div>
{% endblock %}
{% block TituloInicio %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{mensaje}}</div>
        <div class="masthead-heading text-uppercase"style="margin-right: 1000px">Editar POST</div>
    </div>
</header>
{% endblock %}

{% block contenidoQueCambia %}

{% if request.user.username == posteo.usuarioCreador or request.user.is_superuser%}
<div class="card-body">
    <form action="" method="POST" enctype="multipart/form-data" style="color:white">
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">Titulo</label>
            <input type="text" Required name="titulo" value="{{posteo.titulo}}"" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Descripcion</label>
            <input type="text" Required name="descripcion" value="{{posteo.descripcion}}"" class="form-control">
        </div>
        <div>
            <label for="" class="form-label">Imagen</label>    
        </div>
         <div class="mb-3">
            
            {% if posteo.imagen %}
                <img src="{{posteo.imagen.url}}" alt="" style="max-width:300px">
            {% endif %}

                 
            <input type="file" name="imagen" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% else %}
<div style="color:white">
<h1>NO PERMITIDO.</h1>
</div>
{% endif %}
{% endblock %}