{% extends "AppDesafio/padre.html" %}
{% load static %}

{% block avatar%}
{% if not request.user.is_authenticated %}
<div><img src="/media/avatar/anonymous-user-icon-2.jpg" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
    <h2>Anonimo</h2>
</div>
{% else %}
<div><img src="{{url}}" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
<h2>{{user}}</h2>
</div>
{% endif %}

{% endblock %}

{% block TituloInicio %}

<header class="masthead">

    <div class="container">
        <div class="masthead-subheading">{{mensaje}}</div>
        {% if mensaje == null%}
        <div class="masthead-heading text-uppercase"style="margin-right: 1000px">BLOG</div>
        {% endif %}
    </div>
</header>
{% endblock %}
{% block anuncios %}

{% if request.path == "/" %}
<div style="background-color:#FF9C33">
        {{anuncio.mensaje|safe}}
    
    <div style = "margin-left:1550px; font-style:italic;">
        Por {{ anuncio.creador_usuario}} {{ anuncio.fecha }}
   </div>

</div>
{% endif %}
{% endblock %}

{% block contenidoQueCambia %}
{% if unread %}
{% comment %} <script>alert("Tenés {{unread}} mensajes sin leer.")</script>   {% endcomment %}
<p style="border: groove #fff 2px; color:white">
Tenes {{unread}} <a href="{% url 'mensajeria' %}">mensajes</a> sin leer.
</p>
{% endif %}
{% if error or success %}
<a href="javascript:history.go(-1);">Volver atrás</a>
<a href="/">Volver al inicio</a>
{% endif%}
<div style="color:white">
            {% for p in posteos %}

                   <div> <h1>{{ p.titulo }}</h1></div>
                   <div style="font-style:italic; font-size:15px">{{ p.subtitulo }}</div>
                   <br>                    
                    {% if p.imagen %}
                    <p style="display:flex">
                            <img src="{{ p.imagen.url }}" alt="" style="max-width:300px">
                          <span style="align-self:center; margin-left:60px"> {{ p.descripcion }}</span> 
                    </p>
                    {% else %}
                                          
                    {% endif %}
                    
                    <div>
                        <div style = "margin-left:1050px; font-style:italic;">
                             Creado por {{ p.usuarioCreador }}
                        </div>
                        <div style = "margin-left:1050px; font-style:italic;">
                             {{ p.fecha }}
                       </div>
                    <td>
                        
                        <a href="{% url 'comentarPost' p.id %}" class="btn btn-success badge">VER COMENTARIOS</a>
                        {% if request.user.is_superuser %}
                        <a href="{% url 'editarPost' p.id %}" class="btn btn-success badge">EDITAR</a>
                        <a href="{% url 'borrarPost' p.id %}" class="btn btn-danger badge">BORRAR</a>
                        {% endif %}
                    </td>
                </div>
<div>              
    <hr>
    <br>
    <br>    
            {% endfor %}
<hr>
<br>
<br>
{% endblock %}