{% extends "AppDesafio/padre.html" %}
{% load static %}
{% block avatar%}
<div><img src="{{url}}" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
<h2>{{user}}</h2>
</div>
{% endblock %}
{% block TituloInicio %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{mensaje}}</div>
        <div class="masthead-heading text-uppercase"style="margin-right: 1000px">MIS POST</div>
    </div>
</header>
{% endblock %}

{% block contenidoQueCambia %}
<div style="margin-bottom:60px">
<li class="nav-item"><a class="btn btn-primary" href="{% url 'agregarPost' %}">NUEVO POST</a></li>
</div>
<div style="color:white">
            {% for p in posteos %}

                   <div> <h1>{{ p.titulo }}</h1></div>
                   <br>                    
                    {% if p.imagen %}
                    <p style="display:flex">
                            <img src="{{ p.imagen.url }}" alt="" style="max-width:300px">
                          <span style="align-self:center; margin-left:60px"> {{ p.descripcion }}</span> 
                    </p>
                    {% else %}
                                          
                    {% endif %}
                    
                    <div>
                    <td>
                        <a href="{% url 'editarPost' p.id %}" class="btn btn-success badge">EDITAR</a>
                        <a href="{% url 'borrarPost' p.id %}" class="btn btn-danger badge">BORRAR</a>
                    </td>
                </div>
<div>              
    <hr>
    <br>
    <br>    
            {% endfor %}
<hr>
<br>
<br>
{% if not posteos%}
<div><h2>Aun no tiene posteos</h2></div>
{% endif %}

{% endblock %}