{% extends "AppDesafio/padre.html" %}
{% load static %}
{% block avatar%}
<div><img src="{{url}}" width="60px" height="60px" style="border-radius:30px" alt=""></div>
<div style="color:white; margin-left: 20px">
<h2>{{user}}</h2>
</div>
{% endblock %}
{% block TituloInicio %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">{{mensaje}}</div>
        <div class="masthead-heading text-uppercase"style="margin-right: 1000px">POST</div>
    </div>
</header>
{% endblock %}

{% block contenidoQueCambia %}

<div class="card-body">
    <form action="" method="POST" enctype="multipart/form-data" style="color:white">
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">Titulo</label>
            <input type="text" Required name="titulo" class="form-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Género</label>
            <select name="genero" class="form-control">
                <option value="Clásica">Clásica</option>
                <option value="Country">Country</option>
                <option value="Jazz">Jazz</option>
                <option value="Metal" selected>Metal</option>
                <option value="Pop">Pop</option>
                <option value="Tecno">Tecno</option>
                <option value="Rock">Rock</option>
                <option value="Otros">Otros</option>
              </select>
        </div>        
        <div class="mb-3">
            <label for="" class="form-label">Descripcion</label>
            <input type="text" Required name="descripcion" class="form-control">
        </div>
         <div class="mb-3">
            <label for="" class="form-label">Imagen</label>
            <input type="file" Required name="imagen" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>


{% endblock %}